/* Główny arkusz stylów, który definiuje podstawowe elementy, takiej jak BODY, HTML, Czcionki, etc */
/* Zawiera również schemat kolorów witryny */
@import url('navbar.css');
/* SCHEMAT KOLORÓW */
:root {
    --kolor-przewodni: #3AAFA9; 
    --kolor-przewodni-polprzezroczysty:rgba(58, 175, 169, 0.5); 
    --kolor-drugoplanowy: rgb(222, 242, 241); 
    --kolor-drugoplanowy-polprzezroczysty: rgba(222, 242, 241,0.9); 
    --kolor-tekstu-jasny: #FEFFFF; 
    --kolor-tekstu-ciemny: #6D6875; 
    --kolor-akcentu: #2B7A78; 
    --kolor-cieni: rgba(23, 37, 42, 0.5); 
    --mieszanie: lighten;
}







/* Definicja stylów BODY & HTML */
body, html {
    background-color: var(--kolor-tla); /* Tło główne */
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    min-width: 400px; /* Minimalna szerokość strony */
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-top: 100px; /* Dopasuj wartość do wysokości navbaru */
    box-sizing: border-box;

}
@media (max-width: 768px) {
    body {
        padding-top: 80px; /* Dopasuj do mniejszej wysokości na urządzeniach mobilnych */
    }
}

/* animation class and keyframes */
.overflow-hidden {
    overflow: hidden;
   }
   .fade-in {
    animation: fade-in 3s ease 0ms forwards;
   }  
   .drop-in {
    animation: drop-in 1s ease 1ms backwards;
   }   
   .drop-in-2 {
    animation: drop-in 1s ease 200ms backwards;
   }
   .drop-in-3 {
    animation: drop-in 1s ease 300ms backwards;
   }
   .drop-in-4 {
    animation: drop-in 1s ease 400ms backwards;
   }
   .drop-in-5 {
    animation: drop-in 1s ease 500ms backwards;
   }
   .drop-in-6 {
    animation: drop-in 1s ease 600ms backwards;
   }
   
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }
   @keyframes fade-in {
    from {
     opacity: 0;
    }
    to {
     opacity: 1;
    }
   }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--kolor-przewodni) var(--kolor-drugoplanowy);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--kolor-przewodni);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--kolor-drugoplanowy);
    border-radius: 0px;
    border: 1px ridge var(--kolor-przewodni);
  }